html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
}

#expandDiv{
  width: 50px;
  height: 50px;
  right: 45%;
  bottom: 10px;
  border-radius: 50%;
  background-color: red;
}
.esri-collapse__icon {
  font-size: 30px;
  color: white;
}

div[title~="Expand"]{
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
}

div[title~="Collapse"]{
  height: 50px;
  width: 50px;
}
.esri-expand__panel {

}
